<div id="resume_container">

  <div class="resume_title">
    Steven Eric Bauer

    <div class="resume_job_title">
      Software Engineer
    </div>
  </div>
  <div class="resume_institution">
    <div class="resume_section_description">Employment</div>
    <%= link_to "Foliage, Inc.", 'http://www.foliage.com' %>

    <div class="resume_parens">
      (2008 - present)
    </div>

    <!--BioScale project-->
    <div class="resume_project">
      <div class="resume_section_description">Consultant</div>
      BioScale: <%= link_to "ViBE", 'http://bioscale.com/products' %> Protein Analyzer
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        <div class="resume_bold_text">Java SWING</div> UI work on Windows. Developed <div class="resume_bold_text">JFreeChart</div> graphs and <div class="resume_bold_text">NetBeans</div> wizards.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        <div class="resume_bold_text">C++/Qt</div> firmware work on <div class="resume_bold_text">Ubuntu</div>. Developed hardware diagnostics infrastructure and custom logging.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        <div class="resume_bold_text">Ruby on Rails</div> application hosted on Ubuntu. App provides remote access to hardware.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Additional tools: <div class="resume_bold_text">Netbeans, Eclipse, SVN, cmake, log4j, log4cplus, SQL, DBUS</div>
      </div>
    </div>

    <!--MRx project-->
    <div class="resume_project">
      <div class="resume_section_description">Consultant</div>
      Philips Medical: <%= link_to "MRx HeartStart", 'http://www.youtube.com/watch?feature=player_detailpage&v=Cepyps1vwwc#t=111s' %> monitor/defibrillator
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Adding new features to legacy <div class="resume_bold_text">C++</div> code. Added <div class="resume_bold_text">TCP/IP</div> networking functionality, updated event handling, and more.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Class III medical development processes including design, code reviews and testing.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Awarded a client service <%= link_to "gold award", 'https://lh3.googleusercontent.com/-wtXe3H68p-U/TgTKH94fEwI/AAAAAAAAjcE/XdNCS9ygJ90/s800/IMG_5397.JPG' %> by Foliage for work on the MRx.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Additional tools: <div class="resume_bold_text">Eclipse, ClearCase, Coverity, Rhapsody</div>
      </div>
    </div>

    <!--Z1 project-->
    <div class="resume_project">
      <div class="resume_section_description">Consultant</div>
      Gerber Technology: <%= link_to "Z1 Cutter", 'http://www.gerbertechnology.com/en-us/solutions/aerospace/plycutting/gerbercutterz1.aspx' %>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        <div class="resume_bold_text">.NET 3.5 C#</div> Windows application. Created <div class="resume_bold_text">WPF</div> UI elements for controlling the system. Wrote assorted business logic code including job queueing, error management, work-flow control, and more.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Wrote <div class="resume_bold_text">C++</div> code for an LCD control panel running on <div class="resume_bold_text">Windows CE</div>. The display unit communicates with the hardware allowing manual motor control.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Awarded a client service <%= link_to "gold award", 'https://lh3.googleusercontent.com/-693plTJ6v7s/TgTKDN8ShOI/AAAAAAAAjbw/B2NT6dOwe6M/s800/IMG_5396.JPG' %> by Foliage for work on the Z1.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Additional tools: <div class="resume_bold_text">MS VisualStudio + TFS, WCF, log4net</div>
      </div>
    </div>

    <!--Polycold project-->
    <div class="resume_project">
      <div class="resume_section_description">Consultant</div>
      Brooks Automation: <%= link_to "PolyCold", 'http://www.brooks.com/products/vacuum-solutions/cryochillers-cryocoolers/xc-cryochillers' %> Cryogenic Cooler
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        <div class="resume_bold_text">C++</div> firmware development. Wrote assorted business logic and infrastructure including custom cooling curves, smart trend analysis and self diagnostics. Controlled through an attached LCD display. Runs in <div class="resume_bold_text">Windows CE</div> on an ATMEL micro-controller.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Additional tools: <div class="resume_bold_text">MS VisualStudio, VSS, log4cpp</div>
      </div>
    </div>

  </div>

  <!--Drexel master's-->
  <div class="resume_institution">
    <div class="resume_section_description">Education</div>
    Drexel University
    <div class="resume_parens">
      (2010 - present)
    </div>

    <!--program information -->
    <div class="resume_project">
      MS in Software Engineering
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        <%= link_to "MS in Software Engineering  - Computer Science Track", 'http://www.drexel.com/online-degrees/engineering-degrees/ms-se-cs/curriculum.aspx' %>
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Online program with virtual classrooms and electronic team collaboration. Majority of work done on Linux platform in <div class="resume_bold_text">Java</div>.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        7/15 courses completed. GPA: 3.81
      </div>
    </div>
   </div>

  <!--Lafayette-->
  <div class="resume_institution">
    <div class="resume_section_description">Education</div>
    Lafayette College
    <div class="resume_parens">
      (2004 - 2008)
    </div>

    <!--undergrad information -->
    <div class="resume_project">
      BS in Electrical & Computer Engineering
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Electical engineering focus with a minor in computer science. GPA: 3.36
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Murray G. Clay ’30 Award – Presented to a student who presents an outstanding academic record in engineering or science.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Peer tutor program: one-on-one tutoring for underclassman in physics and computer science.
      </div>
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Semester Abroad – Vesalius College, Brussels, Belgium
      </div>

    </div>

    <!--internship information -->
    <div class="resume_project">
      <div class="resume_section_description">Intern</div>
      Lehigh University: Signals And Communications Research
      <div class="resume_project_bullet">
        <div class="resume_project_bullet_indicator"></div>
        Signals and communication research in the Electrical Engineering department. Wrote <div class="resume_bold_text">C++</div> and <div class="resume_bold_text">Matlab</div> routines to numerically prove the power efficiency improvements of a new transmission algorithm. Contributions to the <%= link_to "publication", 'http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=4518157' %> (uncredited).
      </div>

    </div>

  </div>

    <!--Other-->
    <div class="resume_institution">
      <div class="resume_section_description">Education</div>
      Other
      <div class="resume_parens">

      </div>

      <!--program information -->
      <div class="resume_project">
        <%= link_to "Personal Website", 'http://www.baueric.com' %>
        <div class="resume_project_bullet">
          <div class="resume_project_bullet_indicator"></div>
          <div class="resume_bold_text">Ruby on Rails</div> framework with <div class="resume_bold_text">jquery</div> animations.
        </div>
        <div class="resume_project_bullet">
          <div class="resume_project_bullet_indicator"></div>
          Customly designed and coded through self teaching.
        </div>
        <div class="resume_project_bullet">
          <div class="resume_project_bullet_indicator"></div>
          Source code is publically available on <%= link_to "GitHub", 'https://github.com/baueric/baueric' %>.
        </div>
      </div>

      <!--program information -->
      <div class="resume_project">
        Interests
        <div class="resume_project_bullet">
          <div class="resume_project_bullet_indicator"></div>
          Astronomy and phyisics. Science and space magazines.
        </div>
        <div class="resume_project_bullet">
          <div class="resume_project_bullet_indicator"></div>
          Playing guitar and soccer.
        </div>
      </div>

    </div>

  <div style="clear: both;">

  </div>

</div>