<!DOCTYPE html>
<html>
<head>
  <title>bauEric</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="super_container">
  <%= link_to image_tag("logo_new.png", :id => 'main_logo'), 'home' %>
  <div id="banner">
    <div id="nav_bar">
      <div id="nav_center_floater">
      </div>
      <div id="nav_links_area">
        <%= link_to "HOME", 'home', :class => 'nav_link' %>
        <div class="nav_link_holder">
          <%= link_to "PHOTOS", 'photos', :class => 'nav_link' %>
        </div>
        <div class="nav_link_holder">
          <div class="nav_link" onclick="nav_link_click(projects_expander)">PROJECTS</div>
        </div>
        <div class="nav_link_holder">
          <div class="nav_link" onclick="nav_link_click(contact_expander)">CONTACT</div>
        </div>
        <div class="nav_link_holder">
          <%= link_to "RESUM&Eacute;".html_safe, 'resume', :class => 'nav_link' %>
        </div>
      </div>
    </div>
  </div>
  <div class="below_nav_expander" id="projects_expander">
    Links to personal projects. I'm still working on this...
    <!--<%= link_to 'Physics Engine', 'ornery_objects' %>-->
    <!--<br/>-->
    <!--<%= link_to 'Android App', 'android_app' %>-->
  </div>
  <div class="below_nav_expander" id="contact_expander">
    eric@baueric.com
  </div>
  <div id="body_content">
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to image_tag("GitHub_logo_small.png", :class => 'footer_icon', :id => 'github_icon'), "https://github.com/baueric/", :title => 'GitHub', :rel => 'tooltip' %>
    <%= link_to image_tag("Facebook_logo.png", :class => 'footer_icon', :id => 'facebook_icon'), "http://www.facebook.com/ericbauer", :title => 'Facebook', :rel => 'tooltip' %>
    <%= link_to image_tag("Linkedin_logo_small.png", :class => 'footer_icon', :id => 'linkedin_icon'), "http://www.linkedin.com/profile/view?id=97501511", :title => 'LinkedIn', :rel => 'tooltip' %>
  </div>
</div>

</body>
</html>
