<!DOCTYPE html>
<html>
<head>
  <title>bauEric</title>
  <!-- This site is authored and administered by Eric Bauer. -->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div id="super_container">
  <a href="/" id="main_logo"><span class="main-logo-bau">bau</span><span class="main-logo-eric">Eric</span></a>
  <div id="banner">
    <div id="nav_bar">
      <div id="nav_center_floater">
      </div>
      <div id="nav_links_area">
        <%= link_to "HOME", '/', :class => 'nav-link' %>
        <div class="nav_link_holder">
          <%= link_to "PHOTOS", '/photos', :class => 'nav-link' %>
        </div>
        <div class="nav_link_holder">
          <div class="nav-link" onclick="nav_link_click(projects_expander)">PROJECTS</div>
        </div>
        <div class="nav_link_holder">
          <div class="nav-link" onclick="nav_link_click(contact_expander)">CONTACT</div>
        </div>
        <div class="nav_link_holder">
          <%= link_to "RESUM&Eacute;".html_safe, '/resume', :class => 'nav-link' %>
        </div>
      </div>
    </div>
  </div>
  <div class="below-nav-expander" id="projects_expander">

    <%= link_to :ornery, class: 'project-link' do %>
      <i class="fa fa-cubes"></i>&nbsp;Physics Engine
    <% end %>
    <%= link_to :weblingo, class: 'project-link' do %>
      <i class="fa fa-question-circle"></i>&nbsp;Weblingo Quiz
    <% end %>
  </div>
  <div class="below-nav-expander" id="contact_expander">
    <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;s.ericbauer@gmail.com
  </div>
  <div id="body_content">
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to icon('stack-overflow', :class => 'footer_icon'), "http://stackoverflow.com/users/2847310/baueric", :title => 'Stackoverflow', :rel => 'tooltip' %>
    <%= link_to icon('github', :class => 'footer_icon'), "https://github.com/baueric/", :title => 'Github', :rel => 'tooltip' %>
    <%= link_to icon('linkedin', :class => 'footer_icon no-left-border'), "http://www.linkedin.com/profile/view?id=97501511", :title => 'LinkdIn', :rel => 'tooltip' %>
  </div>
</div>

</body>
</html>
